*.txt text
*.baf text
*.d text
*.tp* text
*.2da text
*.ssl text
*.slb text
*.pl text
*.tra text
*.html text
*.css text

TAGS binary
*.bam binary
*.cre binary
*.bmp binary
*.ico binary
*.eff binary
*.itm binary
*.pro binary
*.spl binary
*.vvc binary
*.wav binary
