div.title {
    text-align: center;
    font-family: Cambria, sans-serif;
    font-weight: bold;
    font-size: 150%;
}

div.author {
    text-align: center;
    font-family: Calibri, sans-serif;
    font-weight: bold;
}

div.section {
    padding-bottom: 1cm;
    font-family: Calibri, sans-serif;
}

div.subsection {
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    font-family: Calibri, sans-serif;
}

div.item {
    padding-top: 0.35cm;
    padding-bottom: 1cm;
    font-family: Calibri, sans-serif;
}

h2 {
    text-decoration: underline;
    font-family: Cambria, 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', serif;
    font-weight: bold;
}

h3 {
    text-decoration: underline;
    font-family: Cambria, 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', serif;
    font-weight: bold;
    font-size: 125%;
}

span.item-title {
    text-decoration: underline;
    font-family: Cambria, 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', serif;
    font-weight: bold;
    font-size: 110%;
}
