div.title {
    text-align: center;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 150%;
}

div.author {
    text-align: center;
    font-familiy: Calibri, sans-serif;
    font-weight: bold;
}

div.section {
    padding-bottom: 1cm;
}

div.subsection {
    padding-top: 0.5cm;
    padding-bottom: 1cm;
}

h2 {
    text-decoration: underline;
    font-family: Cambria, serif;
    font-weight: bold;
}

span.subheader {
    text-decoration: underline;
    font-familiy: Cambria, serif;
    font-weight: bold;
    font-size: 110%;
}
